:root{
    --card-border: 1px black solid;

}
body{
    margin: 0;
    padding:0;
}

p,h1, span, a{
    padding: 8px
}
.card{
border: var(--card-border);
width: 300px;
display: flex;
flex-direction: column;
}

.card .inside{
    height: 30px;
    padding: 10px;
}

.card > img {
    display: block;
    /* width: 250px; */
}
.card section,
.card .inside, footer{
    border-top:var(--card-border) ;
}

footer {
    border-top: 2px solid black;
    padding: 10px;
}
